network:
  ethernets:
    ens160:
      addresses:
      - 198.18.128.103/18
      gateway4: 198.18.128.1
      routes: 
        - to: 10.0.0.0/8
          via: 198.18.128.1
      nameservers:
        addresses:
        - 198.18.128.1
        - 8.8.8.8
        search:
        - demo.dcloud.cisco.com
    ens192:
      addresses:
        - 10.107.1.1/24
        - fc00:0:107:1::1/64
      routes:
        - to: 10.0.0.0/24
          via: 10.107.1.2
        - to: 10.101.1.0/24
          via: 10.107.1.2
        - to: 10.101.2.0/24
          via: 10.107.1.2
        - to: 10.1.1.0/24
          via: 10.107.1.2
        - to: fc00:0::/32
          via: fc00:0:107:1::2
    ens224:
      addresses:
        - 10.107.2.1/24
        - fc00:0:107:2::1/64
      routes:
        - to: 10.101.3.0/24
          via: 10.107.2.2
        - to: 10.200.0.0/24
          via: 10.107.2.2
        - to: fc00:0:101:3::/64
          via: fc00:0:107:2::2
    lo:
       addresses:
        - 20.0.0.1/24
        - 30.0.0.1/24
        - 40.0.0.1/24
        - 50.0.0.1/24
        - fc00:0:40::1/64
        - fc00:0:50::1/64

  version: 2