- name: Update the Git Repo
  hosts: localhost
  become: false
  tasks:

    - name: git pull to update repo on localhost
      command: git pull
      args:
        chdir: /home/cisco/SRv6_dCloud_Lab
      ignore_errors: yes

- name: Disable swap on k8s nodes
  hosts: localhost
  become: true
  tasks:

    - name: disable swap on k8s nodes
      command: swapoff -a
      when: ansible_hostname in ['jalapeno', 'rome']
      ignore_errors: yes